
:root{
    --color-white: #f1f1f1;
    --color-black: #0a0a0a;
    --color-gray: #4b4b4b;
    --color-background:#d3d3d3;
    --color-shadow-50: rgb(0 0 0 / 0.5);
    --color-shadow-25: rgb(0 0 0 / 0.25);
    --color-shadow-75: rgb(0 0 0 / 0.75);
}

html {
    font-family: system-ui, sans-serif;
    color: var(--color-black)
}
body{
       background-color: var(--color-background);
    
}
  
.post-board{
   width:100%;
    
    
}

.post{
    margin:0 auto;
    background-color: var(--color-white);
    width: 500px;
    border-radius: 15px;
    
}

.post-header {
   height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

}
.post-header a:hover{
    color:var(--color-gray)
}


.post-header-left {
    display: flex;
    gap: 10px;
        
   }

 .post-header-left img:hover{
    opacity:0.7;
}
.post-header-right p{
    margin:0;
    
}
.fa-ellipsis-vertical{font-size:30px;}
.fa-heart{font-size:  35px;}
.fa-comment{font-size:  35px;}
.fa-paper-plane{font-size: 35px;}
.fa-bookmark{font-size: 35px;}

.img-profile {
    align-content: center;
}


.profile{
    height: auto;
    width: 30px;
   
}



h3{
    font-size: 1rem;
    margin:0;
}

.post-header a{
    text-decoration: none;
    color:var(--color-black);
}




div.Texto span{ 
    margin:0;
}

.Nombre{
    font-size: 0.9rem;
}


figure{
    margin:0px;
}

.container-post-img {
    height: 500px;
    width: 100%;
}
.container-post-img img{
    height:100%;
    width:100%;
    object-fit: cover;
   
}

.post-body{
     padding: 15px 15px;

}

.post-icons{
    display:flex;
    justify-content: space-between;
        gap:10px;
}
.post-icons-left{
    align-content: center;
    display:flex;
    gap:10px;
}
.post-icons-left p{
    margin:0;
}

.post-icons-right p{
    margin:0;

}

.post-icons a{
    color:var(--color-black);
}

.post-icons a:hover{
    color:var(--color-gray);
}

.post-likes a{
    text-decoration: none;
    color:var(--color-black)
}